{% load menu_tags %}




{% if instance.root_page %}
  {% if instance.root_page.reverse_id %}
    {% show_menu instance.start_level instance.end_level instance.extra_inactive instance.extra_active instance.get_menu_template instance.root_page.reverse_id %}
  {% else %}
    <p>Please define ID in the advanced settings of the page {{ instance.root_page.get_title }}.</p>
  {% endif %}
{% else %}
  {% show_menu instance.start_level instance.end_level instance.extra_inactive instance.extra_active instance.get_menu_template %}
{% endif %}
